/* grille  */
.grid_tp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gauche = 1, droite = 2 */
    grid-template-rows: 1fr 1fr;
    /* lignes égales */
    gap: 20px;
    width: 90vw;
    height: 80vh;
    margin: auto;
}

/* style des boites */
.carre {
    background-color: #222;
    border: 2px solid white;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* graphiques dans les boites */
.carre canvas {
    width: 100% !important;
    height: 100% !important;
}

/* bouton case droite */
.en_bas_droite button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #444;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.en_bas_droite button:hover {
    background-color: #666;
}