:root {
  --bs-dark: #0a0a0a;  
    font-size: 1.2rem; 
}

body {
    background: #000;
}

/* grille  */
.grid_tp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gauche = 1, droite = 2 */
    grid-template-rows: 1fr 1fr;
    /* lignes égales */
    gap: 20px;
    width: 90vw;
    height: 80vh;
    margin: auto;
}

/* style des boites */
.carre {
    background-color: #0a0a0a;
    border: 2px solid white;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px 1px white
}

/* graphiques dans les boites */
.carre canvas {
    width: 100% !important;
    height: 100% !important;
}

/* bouton case droite */
.en_bas_droite button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #0a0a0a;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

/* hover des boutons*/
.en_bas_droite button:hover {
    background-color: white;
    color: black;
}

/* les cartes remplissent l<espace disponible*/
#carte,
#thelineone {
    width: 100%;
    height: 100%;
}

/*encadr/ bas à droite*/
.en_bas_droite {
    display: flex;
    flex-direction: row;
}

/* div separe en trois */
.bas_droite_gauche,
.bas_droite_milieu,
.bas_droite_droite {
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
}

/*petite ligne*/
.bas_droite_gauche {
    border-right: 2px solid white;
}
.bas_droite_droite {
    border-left: 2px solid white;
}


.animation {
    display: flex;
    justify-content: center;
    width: 40%;
}

.zdog-canvas {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 70%;
  max-height: 150px;
  margin: auto;
}

svg {
    box-shadow: 0 0 20px 1px white;
}
