:root {
    --bs-dark: #0a0a0a;
    font-size: 1.2rem;
}

@font-face {
    font-family: 'ledlight';
    /* A unique name for your font */
    src: url('../../assets/font/LEDLIGHT.otf') format('opentype');
    font-weight: normal;
    /* Define the weight if applicable */
    font-style: normal;
    /* Define the style if applicable */
}

* {
    font-family: 'ledlight', sans-serif;

}

html,
body {
    overflow-x: hidden;
}

body {
    background: #000;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(0, 255, 0);
}

/* grille  */
.grid_tp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 90vw;
    height: 80vh;
    margin: auto;
}

/* style des boites */
.carre {
    background-color: #0a0a0a;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px 1px rgb(0, 255, 0)
}

/* graphiques dans les boites */
.carre canvas {
    width: 100% !important;
    height: 100% !important;
}

/* bouton case droite */
.en_bas_droite button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #0a0a0a;
    border: 2px solid white;
    border-radius: 4px;
    width: 70%;
}

/* hover des boutons*/
.en_bas_droite button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 20px 1px white;
}

/* les cartes remplissent l<espace disponible*/
#carte,
#thelineone {
    width: 100%;
    height: 100%;
}

/*encadr/ bas à droite*/
.en_bas_droite {
    display: flex;
    flex-direction: row;
}

/* div separe en trois */
.bas_droite_gauche,
.bas_droite_milieu,
.bas_droite_droite {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*petite ligne*/
.bas_droite_gauche {
    border-right: 2px solid white;
}

.bas_droite_droite {
    border-left: 2px solid white;
}


.animation {
    display: flex;
    justify-content: center;
    width: 40%;
}

.zdog-canvas {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 70%;
    max-height: 150px;
    margin: auto;
}

svg {
    box-shadow: 0 0 20px 1px white;
}

.rotating_square {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: white;
    margin: auto;
}